@{ Layout = null;}


    <div class="col-md-6">

        <div class="box box-danger">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="~/Template/assets/img/youtube.jpg" alt="User profile picture">

                <h3 class="profile-username text-center">YOUTUBE</h3>

                <p class="text-muted text-center">TRENDLER</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <iframe width="225" height="500" src="https://www.youtube.com/embed/videoseries?list=PLR_YIZnmz_shqKliLbS7dAxmNtfkasNgJ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                      
                    </li>
               
                </ul>

                @*<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>*@
            </div>
            <!-- /.box-body -->
        </div>
    </div>