@{ Layout = null;}




<div class="col-md-5">

    <div class="tab sitebar" style="background: transparent">


        <div class="tab-content" style="padding:0 0">
            <div class="tab-pane active" id="3">
                <div class="media" style="padding: 0 0">
                    <iframe style="height:368px;width:100%" src="https://www.youtube.com/embed/videoseries?list=PLR_YIZnmz_shqKliLbS7dAxmNtfkasNgJ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="media-body">

                    </div>
                </div>
            </div>
            <div class="tab-pane " id="4">
                <div class="media" style="padding: 0 0">
                    <div>
                        <iframe style="height:368px;width:100%" class="yt_iframe" src="https://player.twitch.tv/?autoplay=false&video=v614388544" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><!--media-left-->
                    <div class="media-body">

                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#3" data-toggle="tab">YouTube</a></li>
                <li><a href="#4" data-toggle="tab">Twitch</a></li>
            </ul>
        </div>



        <div class="tab-pane active" style="background:#fff">
            <h4> yandaki sliderın yazısını geçmeyecek şekilde Buraya Youtube ve Twitch listesi gelebilir??</h4>
        </div>
    </div>

</div>




   
   














