
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">


    <div class="col-md-9">
        <div class="single_content_layout">
            <div class="item feature_news_item">
                <iframe style="height:368px;width:100%" src="https://www.youtube.com/embed/videoseries?list=PLR_YIZnmz_shqKliLbS7dAxmNtfkasNgJ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div><!--feature_news_item-->


        </div><!--single_content_layout-->
    </div>
</div>
