@{ Layout = null;}

<div class="container">
    <div id="more_news_item" class="more_news_item">
        <div class="more_news_heading"><h2><a href="#">DAHA FAZLA HABER</a></h2></div>
        <div class="row">
            <div class="col-md-4">
                <div class="feature_news_item">
                    <div class="item">
                        <div class="item_wrapper">
                            <div class="item_img">
                                <img class="img-responsive" src="~/Template/assets/img/110496_640.jpg" alt="Chania">
                            </div><!--item_img-->
                            <div class="item_title_date">
                                <div class="news_item_title">
                                    <h3><a href="#">BÜTÜN OYUN HABERLERİ BURADA.</a></h3>
                                </div><!--news_item_title-->
                                <div class="item_meta"><a href="#">20Aug- 2015,</a> by:<a href="#">Jhonson</a></div>
                            </div><!--item_title_date-->
                        </div><!--item_wrapper-->
                        <div class="item_content">
                            Sed ut perspiciatis unde omnis iste natus error sit
                        </div><!--item_content-->

                    </div><!--item-->
                </div><!--feature_news_item-->
            </div><!--col-xs-4-->

            <div class="col-md-4">
                <div class="feature_news_item">
                    <div class="item active">
                        <div class="item_wrapper">
                            <div class="item_img">
                                <img class="img-responsive" src="~/Template/assets/img/110506_640.jpg" alt="Chania">
                            </div><!--item_img-->
                            <div class="item_title_date">
                                <div class="news_item_title">
                                    <h3><a href="#">BÜTÜN OYUN HABERLERİ BURADA.</a></h3>
                                </div><!--news_item_title-->
                                <div class="item_meta"><a href="#">20Aug- 2015,</a> by:<a href="#">Jhonson</a></div>
                            </div><!--item_title_date-->
                        </div><!--item_wrapper-->
                        <div class="item_content">
                            Sed ut perspiciatis unde omnis iste natus error sit
                        </div><!--item_content-->

                    </div><!--item-->
                </div><!--feature_news_item-->
            </div><!--col-xs-4-->

            <div class="col-md-4">
                <div class="feature_news_item">
                    <div class="item active">
                        <div class="item_wrapper">
                            <div class="item_img">
                                <img class="img-responsive" src="~/Template/assets/img/110495_640.jpg" alt="Chania">
                            </div><!--item_img-->
                            <div class="item_title_date">
                                <div class="news_item_title">
                                    <h3><a href="#">BÜTÜN OYUN HABERLERİ BURADA</a></h3>
                                </div><!--news_item_title-->
                                <div class="item_meta"><a href="#">20Aug- 2015,</a> by:<a href="#">Jhonson</a></div>
                            </div><!--item_title_date-->
                        </div><!--item_wrapper-->
                        <div class="item_content">
                            Sed ut perspiciatis unde omnis iste natus error sit
                        </div><!--item_content-->

                    </div><!--item-->
                </div><!--feature_news_item-->
            </div><!--col-xs-4-->
        </div><!--row-->
    </div><!--more_news_item-->
</div>