@model IEnumerable<Entites.Models.MessageModels.GamedyaMessage>
@using Gamedya.Helper

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-envelope-o"></i>
    <span class="label label-success">@ViewBag.unReadCount</span>
</a>
<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("Details","Message",new {id=item.Id })">
                @Subs.Sub30(item.Content)
            </a>
        </li>
    }
    <li class="footer"><a href="@Url.Action("MyMessages", "Message")">Bütün mesajları gör</a></li>
</ul>





