@model IEnumerable<Entites.Models.MessageModels.GamedyaMessage>
@using Gamedya.Helper

@{Layout = null; }

<a href="#" class="dropdown-toggle glyphicon glyphicon-envelope glyphicon glyphicon-envelope" data-toggle="dropdown">
  
    <span class="label label-warning">@ViewBag.unReadCount</span>
</a>
<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("Details","Message",new {id=item.Id })">
                @Subs.Sub(item.Content,40)
            </a>
        </li>
    }
    <li class="footer"><a href="@Url.Action("MyMessages", "Message")">Bütün mesajları gör</a></li>
</ul>


