@model Gamedya.Models.ForumByCategoryViewModel


<div class="col-md-2">
    <h4>Konular</h4>
    <h5>@Model.ForumCount </h5>
</div>
<div class="col-md-2">
    <h4>Mesajlar</h4>
    <h5>@Model.ReplyCount</h5>
</div>
<div class="col-md-2">
    <h4>Son Mesajlar</h4>
    <h5>@Model.LastPost</h5>
</div>
